*{
    margin: 0px;
    padding: 0px;
}
.contenedor__padre{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
}
.contenerdor__opciones{
    border: 1px solid #F7F9F9;
    height: 100vh;
    background-color: #000080;
    list-style: none;
    
}
.contenerdor__opciones >li{
    padding: 10px;
}
.contenerdor__opciones >li > a{
    text-align: start;
    color: black;
    font-weight: bold;
}
.contenerdor__opciones >li > a:hover{
    color: #808081;
}
.contenedor__configuracion{
    padding: 20px;
    border: 1px solid #F7F9F9;
    height: 100vh;
    background-color: #F8F9F9 ;
}
.headerP{
    height: 80px;
    width: 100vw;
    background-color: #032B2F;
    padding: 20px;
    color: white;
}
.photo__user > div >img{
    height: 200px;
    width: 200px;
}
.photo__user > .img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.photo__user > div > li > a{
    color: #b2dafa;
    text-align: center;
    padding: 10px;
}
.photo__user > div > li {
    width: 100%;
    border:1px solid #04a1fc ;
}
.photo__user > div > li:hover {
    background-color: white;
    color: black;
}
.photo__user > div > li > a:hover {
    color: black;
}

/**Css ventana modal**/

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}
.valor__interes {
    margin-bottom: 10px;
  }
.form__label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
} 
.input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #f4ebeb;
    font-size: 14px;
}
.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}
.modal__update{
    text-decoration: none;
    color: #fff;
    background-color: #032B2F;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}
.modal__close:hover{
    color: #F26250;
    background-color: #fff;
}
table > tbody > tr > .op{
    display: inline-block;
    list-style: none;
}
table > tbody > tr > .op{
    display:block;
}

